*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: Manrope;
  font-size: 16px;
  color: #333333;
  height: 100%;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */

a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* //////////// */

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

@media (max-width: 1170px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

@media (max-width: 990.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
    padding: 0px 15px;
  }
}

/* ============================== */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* ============================== */

.title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.375;
}

.title_center {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 55px;
}

/* ============================== */

.page {
  flex: 1 1 auto;
}

/* ============================== */

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__container {
  display: flex;
  justify-content: space-between;
  min-height: 103px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  column-gap: 10px;
  row-gap: 15px;
}

@media (max-width: 767.98px) {
  .header__container {
    min-height: 0;
    flex-direction: column;
  }
}

.header__logo {
  font-size: 23px;
  font-weight: 800;
  color: inherit;
}
.header__menu {
}

/* ============================== */

.menu {
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 46px;
}
.menu__item {
}
.menu__link {
  font: 13px;
  font-weight: 700;
  color: inherit;
}

.menu__link:hover {
  text-decoration: underline;
}

@media (max-width: 767.98px) {
  .menu__list {
    justify-content: center;
  }
  .menu__link {
    font-size: 18px;
  }
}

/* ============================== */

.main-block {
  padding-bottom: 110px;
}

.main-block__container {
  padding-top: 183px;
  position: relative;
}

.main-block__container::after {
  position: absolute;
  background-color: #bdccff;
  content: "";
  top: 0;
  height: 100%;
  width: 200%;
  left: 68%;
}

.main-block__body {
  margin-bottom: 14px;
}
.main-block__partners {
}

.body-main-block {
  position: relative;
  display: flex;
  align-items: flex-start;
}
.body-main-block__content {
  flex: 0 1 50%;
}

.content-main-block {
  padding-top: 40px;
  position: relative;
  z-index: 2;
}
.content-main-block-body {
  padding-right: 80px;
}
.content-main-block__sub-title {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 29px;
  font-weight: 700;
  color: #ff9900;
  margin-bottom: 20px;
}
.content-main-block__title {
  font-size: 54px;
  font-weight: 800;
  line-height: 73px;
  margin-bottom: 20px;
}

.content-main-block__text {
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.01em;
  margin-bottom: 45px;
}
.content-main-block__form {
}

.form-main-block {
  position: relative;
  z-index: 2;
  display: flex;
  margin-right: -188px;
  height: 86px;
  background: #ffffff url(./img/home.svg) 33px 32px no-repeat;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222),
    0px 20px 13px rgba(0, 0, 0, 0.015),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
}

.form-main-block__input {
  height: 86px;
  padding: 0px 0px 0px 74px;
  background-color: transparent;
  width: 100%;
  font-size: 20px;
  flex: 1 1 auto;
  border: 1px solid #dadada;
}
.form-main-block__input::placeholder {
  color: #9f9f9f;
}
.form-main-block__button {
  transition: all 0.3s ease 0s;
  height: 86px;
  cursor: pointer;
  width: 188px;
  flex: 0 0 188px;
  font-weight: 600;
  color: #ffffff;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.1em;
  padding: 5px 15px;
  background-color: #f85a47;
}

.form-main-block__button:hover {
  background-color: #b9473a;
}

.body-main-block__slider {
  flex: 0 1 50%;
  min-width: 0;
}

.slider-main-block {
}
.slider-main-block__wrapper {
}
.slider-main-block__slide {
  position: relative;
  padding-bottom: 95%;
}

.slider-main-block__slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body-main-block__arrows {
  position: absolute;
  bottom: -52px;
  right: 0;
  display: flex;
  gap: 40px;
  align-items: center;
}

.body-main-block__arrow.swiper-button-prev,
.body-main-block__arrow.swiper-button-next {
  position: static;
  background: url(./img/icons/Slider_arrow.svg) 0 0 / 100% no-repeat;
  height: 20px;
  width: 11px;
}

.body-main-block__arrow::after {
  display: none;
}

.body-main-block__arrow.swiper-button-prev {
  transform: rotate(-180deg);
}

@media (max-width: 1199.98px) {
  .body-main-block {
    display: block;
  }
  .form-main-block {
    margin-right: 0;
  }
  .body-main-block__content {
    margin-bottom: 40px;
  }
  .main-block__container {
    padding-top: 100px;
    padding-bottom: 30px;
  }
  .main_block_body {
    margin-bottom: 40px;
  }
  .partners-main-block {
    position: relative;
    z-index: 2;
    max-width: none;
  }
  .content-main-block-body {
    padding-right: 0px;
  }
}

@media (max-width: 767.98px) {
  .partners-main-block__items {
    justify-content: center;
  }
  .content-main-block__title {
    font-size: 30px;
    line-height: 120%;
  }
  .form-main-block {
    display: block;
  }
  .form-main-block__button {
    width: 100%;
  }
}

@media (max-width: 479.98px) {
  .form-main-block {
    background: #fff;
  }
  .form-main-block__input {
    padding: 0px 15px;
  }
}

.partners-main-block {
  max-width: 65%;
}
.partners-main-block__label {
  font-size: 17px;
  margin-bottom: 25px;
}
.partners-main-block__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.partners-main-block__item {
}

.partners-main-block__item img {
  max-width: 100%;
}

.how {
  padding-top: 110px;
  padding-bottom: 110px;
}

@media (max-width: 990.98px) {
  .how {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media (max-width: 767.98px) {
  .how {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.page__how {
}

.how__container {
}

.how__title {
  margin-bottom: 70px;
}

.how__items {
  display: grid;
  align-items: start;
  padding: 0 35px;
  grid-template-columns: repeat(3, minmax(auto, 260px));
  column-gap: 30px;
  row-gap: 40px;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .how__items {
    padding: 0 0px;
  }
}

.how__item {
}

.item-how {
  display: grid;
  justify-items: center;
  text-align: center;
  position: relative;
}

.item-how__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  margin-bottom: 50px;
  border-radius: 50px;
  border-radius: 20px;
}

.item-how__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 15px;
}

.item-how__text {
  font-size: 16px;
}

.item-how:not(:last-child)::after {
  position: absolute;
  content: "";
  right: 0;
  top: 41px;
  transform: translate(86.5%, 0px);
  width: 210px;
  height: 11px;
  background: url("./img/icons/border1.svg") 0 0 / 100% no-repeat;
}

.item-how_2:not(:last-child)::after {
  transform: translate(86.5%, 0px) rotate(-180deg);
}

.item-how_1 .item-how__icon {
  background: #9672ff;
  box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07),
    0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481),
    0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185),
    0px 20px 13px rgba(150, 114, 255, 0.035),
    0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815),
    0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
}

.item-how_2 .item-how__icon {
  background: #4ddffd;
  box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07),
    0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481),
    0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185),
    0px 20px 13px rgba(77, 223, 253, 0.035),
    0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815),
    0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
}

.item-how_3 .item-how__icon {
  background: #f2b8ec;
  box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07),
    0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481),
    0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185),
    0px 20px 13px rgba(242, 184, 236, 0.035),
    0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815),
    0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
}

@media (max-width: 1199.98px) {
  .item-how:not(:last-child)::after {
    width: 170px;
    transform: translate(69.5%, 0px);
  }
  .item-how_2:not(:last-child)::after {
    transform: translate(69.5%, 0px) rotate(-180deg);
  }
}

@media (max-width: 990.98px) {
  .item-how:not(:last-child)::after {
    width: 130px;
    transform: translate(63%, 0px);
  }
  .item-how_2:not(:last-child)::after {
    transform: translate(63%, 0px) rotate(-180deg);
  }
}

@media (max-width: 767.98px) {
  .title {
    font-size: 30px;
  }
  .how__items {
    grid-template-columns: 1fr;
  }
  .item-how:not(:last-child)::after {
    display: none;
  }
  .item-how__icon {
    margin-bottom: 25px;
  }

  .how__title {
    margin-bottom: 30px;
  }
}

/* ============================== */

.deals {
  padding-top: 110px;
  padding-bottom: 110px;
}

@media (max-width: 990.98px) {
  .deals {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media (max-width: 767.98px) {
  .deals {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.deals__container {
}
.deals__header {
  margin-bottom: 50px;
}
.deals__tabs {
}

.header-deals {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}
.header-deals__content {
  flex: 1 1 auto;
}
.header-deals__title {
}
.header-deals__title:not(:last-child) {
  margin-bottom: 15px;
}
.header-deals__text {
  max-width: 470px;
  line-height: 24px;
}
.header-deals__link {
  background-color: #f85a47;
  display: inline-block;
  transition: all 0.3s ease 0s;
  padding: 22px 33px;
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07),
    0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481),
    0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185),
    0px 20px 13px rgba(248, 90, 71, 0.035),
    0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815),
    0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 5px;
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 767.98px) {
  .header-deals__link {
    width: 100%;
  }
}

.header-deals__link:hover {
  background-color: #b9473a;
}

.tabs-deals {
}
.tabs-deals__nav {
  display: flex;
  column-gap: 50px;
  row-gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 35px;
}
.tabs-deals__button {
  font-size: 19px;
  line-height: 26px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease 0s;
  background-color: transparent;
}

.tabs-deals__button::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  transition: width 0.3s ease 0s;
  background-color: #f85a47;
  height: 1px;
}
.tabs-deals__button:hover {
  color: #f85a47;
}
.tabs-deals__button:hover::after {
  width: 100%;
}
.tabs-deals__button.active {
  color: #f85a47;
}
.tabs-deals__button.active::after {
  width: 100%;
}
.tabs-deals__body {
}
.tabs-deals__item {
  display: none;
}

.tabs-deals__item.active {
  display: block;
}

.item-tabs {
}
.item-tabs__items {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
.item-tabs__item {
  position: relative;
}
.item-tabs__options {
  position: absolute;
  z-index: 2;
  left: 14px;
  top: 14px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.item-tabs__option {
  font-size: 12px;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #fff;
  padding: 6px 12px;
  transition: background-color 0.3 ease 0s;
  cursor: pointer;
}
.item-tabs__option:hover {
  background: rgba(0, 0, 0, 0.6);
}
.item-tabs__image {
  position: relative;
  padding-bottom: 81%;
  display: block;
  border-radius: 5px;
  overflow: hidden;
}

.item-tabs__image:hover img {
  transform: scale(1.1);
}

.item-tabs__image img {
  transition: transform 0.3s ease 0s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* ============================== */
.featured {
  padding-top: 110px;
  padding-bottom: 110px;
}

@media (max-width: 990.98px) {
  .featured {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media (max-width: 767.98px) {
  .featured {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  #product_top{
    padding-top: 100px;
    padding-bottom: 30px;
  }
}

@media (max-width: 479.98px) {
  #product_top{
    padding-top: 150px;
    padding-bottom: 30px;
  }
}

.featured__container {
}
.featured__title {
  margin-bottom: 95px;
}

.featured__body {
  padding: 40px 40px 80px 40px;
  background-color: #f1ffff;
  display: grid;
  column-gap: 77px;
  row-gap: 40px;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 990.98px) {
  .featured__body {
    display: flex;
    flex-direction: column-reverse;
  }

  .featured__title {
    margin-bottom: 50px;
  }
}

@media (max-width: 767.98px) {
  .featured__body {
    margin: 0px -15px;
    padding: 20px 15px 20px 15px;
  }

  .featured__title {
    margin-bottom: 30px;
  }
}

.featured__images {
}
.featured__content {
  display: flex;
  flex-direction: column;
}

.images-featured {
  display: grid;
  justify-items: center;
}
.images-featured__item {
}
.images-featured__item img {
  max-width: 100%;
}
.images-featured__item_mini {
  margin-left: 20px;
  margin-right: 20px;
  filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04))
    drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704))
    drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963))
    drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02))
    drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037))
    drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963))
    drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
  margin-top: -114px;
}

.content-featured {
}
.content-featured__body {
}

@media (min-width: 991px) {
  .content-featured__body {
    flex: 1 1 auto;
    width: 412px;
    padding-top: 40px;
  }
  .content-featured__link {
    max-width: 412px;
  }
}

.content-featured__title {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 31px;
  line-height: 1.35;
}

@media (max-width: 767.98px) {
  .content-featured__title {
    font-size: 24px;
  }
}
.content-featured__text {
  color: #545a58;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
}
.content_featured_options {
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 55px;
}
.options-content-featured {
}
.options-content-featured__item {
}
.options-content-featured__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 12px;
}
.options-content-featured__value {
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #545a58;
}
.content-featured__link {
  text-align: center;
  text-transform: uppercase;
  padding: 16px 35px;
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  background: #f85a47;
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07),
    0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481),
    0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185),
    0px 20px 13px rgba(248, 90, 71, 0.035),
    0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815),
    0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 5px;
  color: #fff;
  transition: all 0.3s ease 0s;
}

.content-featured__link:hover {
  background: #b9473a;
}

@media (max-width: 479.98px) {
  .content_featured_options {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 35px;
  }
}

/* ============================== */

.simple-rating {
  position: relative;
  font-size: 24px;
  display: inline-block;
}

.simple-rating::before {
  content: "★★★★★";
  display: block;
}

.simple-rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.simple-rating__item {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}

.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
  color: #fbb040;
}

.simple-rating__label {
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #dfdad1;
}

.simple-rating__label::before {
  content: "★";
  display: block;
  transition: color 0, 3s ease 0s;
}

.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
  color: #ffef9f;
}

/* ============================== */

.reviews {
  padding-top: 110px;
  padding-bottom: 110px;
}

@media (max-width: 990.98px) {
  .reviews {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media (max-width: 767.98px) {
  .reviews {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.reviews__container {
}
.reviews__title {
  margin-bottom: 50px;
  max-width: 570px;
}

.reviews__items {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}
.reviews__item {
}

.item-reviews {
  color: inherit;
  padding: 50px 40px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}

.item-reviews:hover {
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item-reviews__raiting {
  margin-bottom: 33px;
}
.simple-rating {
}

.simple-rating__items {
}
.simple-rating__item {
}
.simple-rating__label {
}

.item-reviews__text {
  line-height: 1.5;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #333333;
}
.item-reviews__author {
}

.author-item-reviews {
  display: flex;
  gap: 20px;
  align-items: center;
}
.author-item-reviews__avatar {
  flex: 0 0 48px;
  border-radius: 50%;
  overflow: hidden;
}
.author-item-reviews__body {
}
.author-item-reviews__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
.author-item-reviews__location {
  font-weight: 400;
  line-height: 19px;
  color: #666666;
}

.reviews__footer {
  padding-top: 85px;
}

.footer-reviews {
  display: flex;
  column-gap: 100px;
}

@media (max-width: 990.98px) {
  .footer-reviews {
    row-gap: 30px;
    flex-wrap: wrap;
  }
}

.footer-reviews__partners {
  flex: 1 1 auto;
}

.partners-footer-reviews {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.partners-footer-reviews__item {
}

.footer-reviews__info {
  flex: 0 0 300px;
  cursor: pointer;
  line-height: 1.5;
}

.footer-reviews__info a {
  color: #2cbde7;
  text-decoration: underline;
}

.footer-reviews__info a:hover {
  text-decoration: none;
}

/* ============================== */

.subscribe {
  padding-top: 110px;
  padding-bottom: 110px;
}

@media (max-width: 990.98px) {
  .subscribe {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media (max-width: 767.98px) {
  .subscribe {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.subscribe__container {
}
.subscribe__header {
  text-align: center;
  margin-bottom: 34px;
}
.subscribe__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 144.2%;
  letter-spacing: 0.02em;
}
.subscribe__sub-title {
  font-weight: 700;
  font-size: 23px;
  line-height: 144.2%;
  letter-spacing: 0.02em;
  color: #31353b;
}

@media (max-width: 990.98px) {
  .subscribe__title {
    font-size: 35px;
  }
  .subscribe__sub-title {
    font-size: 20px;
  }
}

@media (max-width: 767.98px) {
  .subscribe__title {
    font-size: 24px;
  }
  .subscribe__sub-title {
    font-size: 16px;
  }
}

.subscribe__form {
  max-width: 686px;
  margin: 0 auto;
}

.form-subscribe {
  gap: 15px;
  padding: 25px 45px;
  display: flex;
  background: #ffffff;
  box-shadow: 0px 163px 80px rgba(0, 0, 0, 0.04),
    0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704),
    0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963),
    0px 32.6px 13px rgba(0, 0, 0, 0.02),
    0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037),
    0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963);
}
.form-subscribe__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.form-subscribe__label {
  display: block;
  margin-bottom: 10px;
  color: rgba(49, 53, 59, 0.2);
}
.form-subscribe__input {
  width: 100%;
  min-height: 40px;
  font-weight: 700;
  flex: 1 1 auto;
  font-size: 20px;
}
.form-subscribe__button {
  cursor: pointer;
  height: 72px;
  padding: 10px 40px;
  font-size: 18;
  font-weight: 500;
  color: #fff;
  background: #f85a47;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07),
    0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481),
    0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185),
    0px 20px 13px rgba(248, 90, 71, 0.035),
    0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815),
    0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
}

.form-subscribe__button:hover {
  background: #b9473a;
}

@media (max-width: 767.98px) {
  .form-subscribe{
    margin: 0 -15px;
    padding: 15px;
    flex-direction: column;
  }
}

/* ============================== */

.footer{
}

.footer__container{
  border-top: 1px solid #dedfe1;
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 70px;
  column-gap: 20px;
}

@media (max-width: 767.98px){
  .footer__container{
    justify-items: center;
    grid-template-columns: 1fr;
    row-gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px
  }
}
  
.footer__logo{
  color: inherit;
font-weight: 800;
font-size: 23px;
line-height: 31px;
color: #31353B;
}
.footer__menu{
  display: flex;
  justify-content: flex-end;
}

.menu-footer{
}
.menu-footer__list{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  column-gap: 45px;
  row-gap: 15px;
}
.menu-footer__item{}
.menu-footer__link{
  color: inherit;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
}

.menu-footer__link:hover{
  text-decoration: underline;
}

.footer__copy{
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: 768px){
  .footer__copy{
    grid-column: span 2;
  }
}

/* ============================== */
/* ============================== */
/* ============================== */

/* ============================== pages */

.contacts{
  padding-top: 250px;
  padding-bottom: 110px;
}

.contacts__container{}

.contacts__title{
  font-weight: 700;
  font-size: 45px;
  line-height: 144.2%;
  letter-spacing: 0.02em;
}

.contacts__body{}

.contacts__text{
  margin-top: 80px;
  font-size: 23px;
  color: #333333;
  letter-spacing: 0.01em;
}

@media (max-width: 767.98px) {
  .contacts__title {
    font-size: 30px;
  }

  .contacts__text{
    margin-top: 40px;
    font-size: 20px;

  }
}

/* ============================== */

.blog{
  padding-top: 200px;
  padding-bottom: 110px;
}

.blog__container{}

.blog__title{
  font-weight: 700;
  font-size: 45px;
  line-height: 144.2%;
  letter-spacing: 0.02em;
}


.blog__sub-title{
  text-align: center;
  margin-top: 80px;
  font-size: 33px;
  color: #333333;
  letter-spacing: 0.01em;
}

@media (max-width: 767.98px) {
  .blog__title {
    font-size: 30px;
  }
}

/* ============================== */





